{# 网站标题颜色 #}
{% if siteNameColor and siteNameColor != 'antiquewhite' %}
  .site-name {
  color: {{ siteNameColor }};
  }
{% endif %}

{# 网站描述颜色 #}
{% if siteDescriptionColor and siteDescriptionColor != 'white' %}
  .site-description {
  color: {{ siteDescriptionColor }};
  }
{% endif %}

{# 网站菜单按钮颜色 #}
{% if siteMenuColor and siteMenuColor != 'antiquewhite' %}
  .wl-text-split::after, .wl-text-split::before {
  color: {{ siteMenuColor }};
  }
{% endif %}

{# 文章标题颜色 #}
{% if titleColor and titleColor != 'white' %}
  .article-title {
  color: {{ titleColor }};
  }
{% endif %}

{# 底部信息颜色 #}
{% if footInfoColor and footInfoColor != 'white' %}
  .foot-info {
  color: {{ footInfoColor }};
  }
{% endif %}

{# 站点名称字体 #}
{% if siteNameFont and siteNameFont != 'kaiti' %}
  .site-name{
  font-family: {{ siteNameFont }};
  }
{% endif %}

{# 站点介绍字体 #}
{% if siteDescriptionFont and siteDescriptionFont != 'kaiti' %}
  .site-description {
  font-family: {{ siteDescriptionFont }};
  }
{% endif %}

{# 文章标题字体 #}
{% if titleFont and titleFont != 'Arial' %}
  .article-title {
  font-family: {{ titleFont }};
  }
{% endif %}

{# 菜单栏字体 #}
{% if siteMenuFont and siteMenuFont != 'kaiti' %}
  .site-menu {
  font-family: {{ siteMenuFont }};
  }
{% endif %}

{# 菜单栏字体 #}
{% if postFont and postFont != 'kaiti' %}
  .wl-markdown-text {
  font-family: {{ siteMenuFont }};
  }
{% endif %}

{# 自定义 CSS #}
{% if customCss %}
  {{ customCss }}
{% endif %}

