<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=yes" id="wl-view">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="x-pjax-version" content="v123">
  {% block head %}
    {% include './common/head.j2' ignore missing with context %}
  {% endblock %}
</head>
<body>
  {% block loading %}
    {% include './common/loading.j2' ignore missing with context %}
  {% endblock %}
  <div id="wl-content" class="wl-w-full wl-relative">
    {% block sidebar %}
      {% if site.customConfig.menuPosition == 'top' %}
        {# --------------- 顶部菜单栏👇 ---------------- #}
        {% include './bar/topbar.j2' ignore missing with context %}
        {# --------------- 顶部菜单栏👆 ---------------- #}
        {# --------------- 横幅👇 ---------------- #}
        {% include './common/banner.j2' ignore missing with context %}
        {# --------------- 横幅👆 ---------------- #}
      {% else %}
        {# --------------- 侧边菜单栏👇 ---------------- #}
        {% include './bar/sidebar.j2' ignore missing with context %}
        {# --------------- 侧边菜单栏👆 ---------------- #}
      {% endif %}
    {% endblock %}
    {# 菜单位置在顶部时, 左右边距要自动 #}
    {% set clas = 'wl-mx-auto' if site.customConfig.menuPosition == 'top' else 'wl-ml-[25%]' %}
    <div id="wl-main" class="wl-text-center wl-relative wl-transition-all wl-duration-700 {{ clas }} wl-w-7/12 wl-min-h-dvh wl-flex wl-flex-col wl-justify-between">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  {% block background %}
    {# --------------- 全局背景图👇 ---------------- #}
    {% include './common/background.j2' ignore missing with context %}
    {# --------------- 全局背景图👆 ---------------- #}
  {% endblock %}
  {% block script %}
    {% include './common/script.j2' ignore missing with context %}
  {% endblock %}
</body>
</html>
