{# ----------- 移动端导航栏👇 ----------------- #}
<div class="wl-hidden">
  <nav class="wl-bg-cyan-700 wl-z-10 wl-overflow-x-hidden wl-w-full wl-top-0 wl-inset-x-0 wl-fixed wl-min-h-5 wl-border-transparent">
    <div class="wl-px-4 wl-flex wl-items-center">
      {# -- Brand and toggle get grouped for better mobile display -- #}
      <div class="wl-float-left wl-m-0 wl-flex wl-items-center wl-h-12">
        <a data-pjax class="wl-text-white wl-text-lg wl-whitespace-nowrap" href="https://blog.nianian.cn">嘉兰月&nbsp;&nbsp;|</a>
        <span class="wl-text-2xl wl-m-0 wl-pl-4 wl-cursor-pointer wl-text-gray-400">
                <i id="wl-m-aplayer" class="wl-font-awesome fa fa-circle-play" aria-hidden="true" onclick="Utils.aplayerPlay();"></i>
            </span>
      </div>

      {# -- Collect the nav links, forms, and other content for toggling -- #}
      <div id="bar-menu" class="wl-p-0 wl-m-0 wl-w-full">
        <ul class="wl-float-right wl-flex wl-items-center">


          <li class="wl-p-4">
            <a class="wl-text-white" href="/" data-pjax>
              首页
            </a>
          </li>

          <li class="wl-p-4">
            <a class="wl-text-white" href="/archives" data-pjax>
              归档
            </a>
          </li>

          <li class="wl-p-4">
            <a class="wl-text-white" href="/tags" data-pjax>
              标签
            </a>
          </li>

          <li class="wl-p-4">
            <a class="wl-text-white" href="/post/about" data-pjax>
              关于
            </a>
          </li>

          <li class="wl-p-4">
            <a class="wl-text-white" href="https://blog.nianian.cn/talk" data-pjax>
              说说
            </a>
          </li>

          <li class="wl-p-4">
            <a class="wl-text-white" href="https://blog.nianian.cn/friends" data-pjax>
              友链
            </a>
          </li>

        </ul>
      </div>{# -- /.navbar-collapse -- #}
    </div>{# -- /.container-fluid -- #}
  </nav>
</div>
{# ----------- 移动端导航栏👆 ----------------- #}
