
body, html {
  font-size: 16px;
  min-width: 1200px;
}

::-moz-selection {
  background-color: #dcfce7;
  color: #22d3eeff
}

::selection {
  background-color: #dcfce7;
  color: #22d3eeff
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  background-color: #57e8b0;
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e745c1
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto
}

hr {
  margin-bottom: 1rem;
  margin-top: 1rem
}

i {
  font-family: kaiti, serif;
}

img, video {
  height: auto;
  max-width: 100%
}

a {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: #22d3ee;
    text-decoration: none
  }
}

