@import "base.css";
@import "markdown.css";
@import "twcss.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FXAiQingQiXiangSuo';
  src: url('https://ericamblog.oss-cn-shanghai.aliyuncs.com/2021/FXAiQingQiXiangSuo.ttf');
}

:root {
  --wl-color: antiquewhite;
  --wl-font-color: black;
  --wl-bg: white;
  --wl-b-bg: transparent;
  --wl-art-bg: white;
  --wl-section-color: #ce8e4c;
  --wl-selection-bg: #cceae7;
  --wl-m-a: #ffb143;
  --wl-m-a-img: #f68800;
  --wl-m-a-hover: #e46918;
  --wl-m-pre-img: #f8f8f800;
  --wl-m-h2-bas: #f6ae77;
  --wl-m-h2-str: #f7ce68;
  --wl-m-h2-end: #fbabfe;
  --wl-m-h3: #ffc000;
  --wl-m-h4: #ffc840;
  --wl-m-blo-bg: #eff8f0;
  --wl-m-blo-bd: #ffd43e;
  --wl-m-hr: #ffc000;
  --wl-m-li: #ffc840;
  --wl-m-del: #595959;
}

:root[theme=dark] {
  --wl-color: antiquewhite;
  --wl-font-color: white;
  --wl-bg: black;
  --wl-b-bg: #000000cc;
  --wl-art-bg: #00000019;
  --wl-section-color: #ce8e4c;
  --wl-selection-bg: #586e75;
}

@layer components {
  .mask-img-110 {
    mask-image: linear-gradient(110deg, transparent 20%, #ffffff 50%)
  }
  
  .mask-img-250 {
    mask-image: linear-gradient(250deg, transparent 20%, #ffffff 50%)
  }
}

.markdown-toc {
  a {
    @apply wl-transition-all wl-duration-200;
  }
}

@layer utilities {
  .wl-animate-duration-5 {
    animation-duration: 5s;
  }
  
  .wl-animate-duration-7 {
    animation-duration: 7s;
  }
  
  .wl-animate-duration-9 {
    animation-duration: 9s;
  }
  
  .wl-markdown-text {
    @apply wl-font-kaiti;
  }
}

.wl-text-split {
  &::after, &::before {
    content: attr(data-text);
    /* 字体颜色 */
    @apply wl-absolute wl-left-0 wl-w-full -wl-top-2 wl-text-orange-100 wl-transition-all wl-duration-300 wl-ease-in-out;
  }
  
  @apply group-odd:hover:before:-wl-left-1 group-even:hover:before:wl-left-1;
  @apply group-odd:hover:after:wl-left-1 group-even:after:before:-wl-left-1;
  
  
  &::before {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%)
  }
  
  &::after {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%)
  }
  
  &:hover {
    /* 分割线颜色 */
    @apply wl-border-cyan-400 wl-border-solid wl-border-t-1;
    
    &::after, &::before {
      /* 悬停后的颜色 */
      @apply wl-text-cyan-200 wl-delay-100 wl-content-[attr(data-text)];
    }
  }
}
