@import "twcss.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FXAiQingQiXiangSuo';
  src: url('https://ericamblog.oss-cn-shanghai.aliyuncs.com/2021/FXAiQingQiXiangSuo.ttf');
}

@layer base {
  body, html {
    font-size: 16px;
    min-width: 1200px;
  }
  
  ::-moz-selection, ::selection {
    background-color: #dcfce7;
    color: #22d3ee
  }
  
  ::-webkit-scrollbar {
    height: 6px;
    width: 6px
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #57e8b0;
    border-radius: 10px
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #e745c1
  }
  
  ::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto
  }
  
  hr {
    margin-bottom: 1rem;
    margin-top: 1rem
  }
  
  i {
    font-family: kaiti, serif;
  }
  
  img, video {
    height: auto;
    max-width: 100%
  }
  
  a {
    @apply wl-transition-all;
    color: #ffffff;
    text-decoration: none;
    
    &:hover {
      color: #22d3ee !important;
      text-decoration: none
    }
  }
}

@layer components {
  .mask-img-110 {
    mask-image: linear-gradient(110deg, transparent 20%, #ffffff 50%)
  }
  
  .mask-img-250 {
    mask-image: linear-gradient(250deg, transparent 20%, #ffffff 50%)
  }
}

@layer utilities {
  .wl-animate-duration-5 {
    animation-duration: 5s;
  }
  
  .wl-animate-duration-7 {
    animation-duration: 7s;
  }
  
  .wl-animate-duration-9 {
    animation-duration: 9s;
  }
  
  .markdown-toc {
    a {
      @apply wl-transition-all wl-duration-200;
    }
  }
  
  .wl-text-split {
    &::after, &::before {
      content: attr(data-text);
      /* 字体颜色 */
      @apply wl-absolute wl-left-0 wl-w-full -wl-top-2 wl-text-orange-100 wl-transition-all wl-duration-300 wl-ease-in-out;
    }
    
    @apply group-odd:hover:before:-wl-left-1 group-even:hover:before:wl-left-1;
    @apply group-odd:hover:after:wl-left-1 group-even:after:before:-wl-left-1;
    
    
    &::before {
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%)
    }
    
    &::after {
      clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%)
    }
    
    &:hover {
      /* 分割线颜色 */
      @apply wl-border-cyan-400 wl-border-solid wl-border-t-1;
      
      &::after, &::before {
        /* 悬停后的颜色 */
        @apply wl-text-cyan-200 wl-delay-100 wl-content-[attr(data-text)];
      }
    }
  }
  
  .img-loading {
    background: rgba(204, 204, 214, .4);
    border-radius: 20px;
    padding: 30%
  }
  
  .jssocials-shares {
    @apply wl-flex wl-items-center wl-gap-2.5 wl-h-5;
  }
  
  .jssocials-share-link {
    @apply wl-flex;
  }
  
  .jssocials-share-logo {
    @apply wl-h-4;
  }
  
  /* Post 正文 */
  .wl-markdown-text {
    @apply wl-font-kaiti;
    
    blockquote {
      @apply wl-text-base wl-border-amber-300 wl-bg-emerald-50;
    }
    
    /* 标题 */
    
    h1 {
      @apply wl-text-4xl wl-my-6 wl-py-1.5 wl-inline-block wl-px-2.5 wl-rounded-lg wl-bg-gradient-to-tr wl-from-amber-300 wl-to-red-300;
    }
    
    h2 {
      @apply wl-text-3xl wl-my-5 wl-pl-2.5 wl-border-solid wl-border-l-6 wl-border-amber-300;
    }
    
    h3 {
      @apply wl-text-2xl wl-my-4 wl-pl-2 wl-border-solid wl-border-l-3 wl-border-amber-300;
    }
    
    h4 {
      @apply wl-text-xl wl-my-3.5;
    }
    
    p, h5, h6 {
      @apply wl-text-base wl-my-2.5;
    }
    
    h6 {
      @apply wl-my-3;
    }
    
    h5 {
      @apply wl-my-3.5;
    }
    
    /* 列表 */
    
    ol {
      @apply wl-pl-8 wl-list-decimal;
      
      ol {
        list-style-type: lower-roman;
        
        ol {
          list-style-type: lower-alpha;
        }
      }
    }
    
    ul {
      @apply wl-pl-8 wl-list-disc;
    }
    
    /* 链接 */
    
    a {
      @apply wl-border-solid wl-border-b-1 wl-border-amber-300 wl-text-fuchsia-500;
      
      &:hover {
        @apply wl-text-current;
      }
    }
    
    /* 图片 */
    
    img {
      @apply wl-max-w-full;
    }
    
    /* 表格 */
    
    > table {
      @apply wl-block wl-w-full wl-break-keep wl-overflow-auto;
      
      tr {
        @apply even:wl-border-gray-300;
      }
      
      td, th {
        @apply wl-p-2 wl-border-solid wl-border-1 wl-border-gray-300;
        text-align: revert-layer;
      }
    }
    
    /* 分割线 */
    
    hr {
      @apply wl-border-2 wl-border-amber-300 wl-overflow-hidden wl-my-4;
    }
  }
}

.jssocials-share-qq {
  background: #34d6f3;
}

.jssocials-share-qzone {
  background: #f39434;
}

.live2d-fixed.live2d-wrapper {
  left: auto;
  right: 0
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: normal;
}

.navbar-inverse {
  background-color: rgba(143, 168, 171, 0.8);
}

/** 代码行号 */
.hljs-ln-line.hljs-ln-numbers {
  @apply wl-relative wl-border-amber-400 wl-border-r-1 wl-border-solid;
  user-select: none;
  text-align: center;
  vertical-align: top;
  padding-right: 5px;
  width: 32px;
}

.hljs-ln-line.hljs-ln-code {
  padding-left: 10px;
}

/* 目录 */
.markdown-toc {
  ul {
    @apply wl-pl-8 wl-list-none;
  }
  
  &.toc-reader a {
    @apply wl-text-gray-600 hover:wl-text-current;
  }
}