@import "markdown.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@font-face {
  font-family: 'FXAiQingQiXiangSuo';
  src: url('https://ericamblog.oss-cn-shanghai.aliyuncs.com/2021/FXAiQingQiXiangSuo.ttf');
}

:root {
  --wl-color: antiquewhite;
  --wl-font-color: black;
  --wl-bg: white;
  --wl-b-bg: transparent;
  --wl-art-bg: white;
  --wl-section-color: #ce8e4c;
  --wl-selection-bg: #cceae7;
  --wl-m-a: #ffb143;
  --wl-m-a-img: #f68800;
  --wl-m-a-hover: #e46918;
  --wl-m-pre-img: #f8f8f800;
  --wl-m-h2-bas: #f6ae77;
  --wl-m-h2-str: #f7ce68;
  --wl-m-h2-end: #fbabfe;
  --wl-m-h3: #ffc000;
  --wl-m-h4: #ffc840;
  --wl-m-blo-bg: #eff8f0;
  --wl-m-blo-bd: #ffd43e;
  --wl-m-hr: #ffc000;
  --wl-m-li: #ffc840;
  --wl-m-del: #595959;
}

:root[theme=dark] {
  --wl-color: antiquewhite;
  --wl-font-color: white;
  --wl-bg: black;
  --wl-b-bg: #000000cc;
  --wl-art-bg: #00000019;
  --wl-section-color: #ce8e4c;
  --wl-selection-bg: #586e75;
}


