.wl-p-text h1,
.wl-p-text h2,
.wl-p-text h3,
.wl-p-text h4,
.wl-p-text h5,
.wl-p-text h6 {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
}

.wl-p-text h1 {
  font-size: 1.6em;
  line-height: 2.2;
  margin-bottom: 1.5em;
}

.wl-p-text h2 {
  margin-bottom: 1.25em;
  font-size: 1.45em;
  line-height: 2.1;
  display: table;
  padding: 0 10px;
  border-radius: 16px;
  background: var(--wl-m-h2-bas) linear-gradient(to right, var(--wl-m-h2-str), var(--wl-m-h2-end)) 0 0;
  background-size: 200% 100%;
  transition: all ease-in-out 0.1s;
}

.wl-p-text h2:hover {
  background-position: -100% -100%;
}

.wl-p-text h3 {
  margin-bottom: 1em;
  font-size: 1.3em;
  line-height: 1.8;
  padding-left: 10px;
  border-left: 5px solid var(--wl-m-h3);
  border-bottom: 2px hidden var(--wl-m-h3);
  transition: all linear 0.1s;
}

.wl-p-text h3:hover {
  border-bottom: 2px solid var(--wl-m-h3);
}

.wl-p-text h4 {
  margin-bottom: 0.8em;
  font-size: 1.06em;
  line-height: 1.6;
}

.wl-p-text h4::before {
  content: "";
  margin-right: 7px;
  display: inline-block;
  background-color: var(--wl-m-h4);
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: var(--wl-m-h4) 1px solid;
  vertical-align: middle;
}

.wl-p-text h5 {
  margin-bottom: 0.625em;
  font-size: 0.93em;
  line-height: 1.4;
}

.wl-p-text h5::before {
  content: "-";
  color: var(--wl-m-h4);
  margin-right: 7px;
  display: inline-block;
  vertical-align: middle;
}

.wl-p-text h6 {
  margin-bottom: 0.625em;
  font-size: 0.87em;
  line-height: 1.2;
}

.wl-p-text p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.8;
  margin-bottom: 10px;
}

.wl-p-text a {
  /* 超链接 */
  border-bottom: 2px solid var(--wl-m-a);
  padding: 0 4px;
  transition: all linear 0.3s;
  text-decoration: none;
  color: black;
  /* 修复空链接（标题锚点）显示底部下划线的问题（padding宽度引起的问题），但是自定义锚点怎么处理？因为自定义的锚点链接里有一个空格，非空，所以自定义锚点时请额外加上alt="none"，这将会使得链接“消失” */
}

.wl-p-text a::before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 1024 1024'%3E%3Cpath  d='M477.934459 330.486594A50.844091 50.844091 0 0 1 406.752731 258.796425L512 152.532274a254.220457 254.220457 0 0 1 359.467726 359.467726L762.66137 618.772592a50.844091 50.844091 0 1 1-71.690168-71.690169l106.772591-106.772592a152.532274 152.532274 0 0 0-215.578947-215.578947z m70.164846 361.501489A50.844091 50.844091 0 1 1 619.789474 762.66137l-107.281033 107.281033A254.220457 254.220457 0 0 1 152.532274 512L259.813307 406.752731a50.844091 50.844091 0 1 1 72.19861 69.656405l-107.789474 107.281033a152.532274 152.532274 0 0 0 215.578947 215.578947z m-126.601788-16.77855a50.844091 50.844091 0 1 1-71.690168-71.690169l251.678252-251.678252a50.844091 50.844091 0 0 1 71.690169 71.690169z'/%3E%3C/svg%3E");
  color: var(--wl-m-a-img);
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
  vertical-align: sub;
}

.wl-p-text a:hover {
  color: var(--wl-m-a-hover);
  border-bottom: 2px solid var(--wl-m-a-hover);
  transition: all linear 0.3s;
}

.wl-p-text a:empty,
.wl-p-text a[alt="none"],
.wl-p-text a[alt="null"] {
  padding-left: 0;
  /*直接上display:none消除超链接会导致锚点失效，visibility:hidden又占位*/
  padding-right: 0;
}

.wl-p-text > ol,
.wl-p-text > ul {
  padding-left: 35px;
  line-height: 1.6;
  margin-bottom: 16px;
}

.wl-p-text > ol > li,
.wl-p-text > ul > li {
  padding: 0.2rem 0;
}

.wl-p-text > ol > li::marker,
.wl-p-text > ul > li::marker {
  color: var(--wl-m-h3);
}

.wl-p-text > ol {
  list-style-type: decimal;
}

.wl-p-text > ul {
  list-style-type: square;
}

.wl-p-text img {
  width: 80%;
  margin: 15px auto;
}

.wl-p-text pre::before {
  /* 代码块 - 红绿灯图片 */
  content: "";
  display: block;
  height: 30px;
  width: 100%;
  background-size: 40px;
  background-repeat: no-repeat;
  background-color: var(--wl-m-pre-img);
  border-radius: 5px 5px 0 0;
  background-position: 6px 6px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNDUwcHgiIGhlaWdodD0iMTMwcHgiPgogIDxlbGxpcHNlIGN4PSI2NSIgY3k9IjY1IiByeD0iNTAiIHJ5PSI1MiIgc3Ryb2tlPSJyZ2IoMjIwLDYwLDU0KSIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsPSJyZ2IoMjM3LDEwOCw5NikiLz4KICA8ZWxsaXBzZSBjeD0iMjI1IiBjeT0iNjUiIHJ4PSI1MCIgcnk9IjUyIiAgc3Ryb2tlPSJyZ2IoMjE4LDE1MSwzMykiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0icmdiKDI0NywxOTMsODEpIi8+CiAgPGVsbGlwc2UgY3g9IjM4NSIgY3k9IjY1IiByeD0iNTAiIHJ5PSI1MiIgIHN0cm9rZT0icmdiKDI3LDE2MSwzNykiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0icmdiKDEwMCwyMDAsODYpIi8+Cjwvc3ZnPg==);
}

.wl-p-text pre code {
  font-size: 0.8em;
  white-space: inherit;
  overflow-y: auto;
  border-radius: 10px;
}

.wl-p-text pre code table {
  margin: 0;
}

.wl-p-text pre code tr:nth-child(2n) {
  background: none;
}

.wl-p-text pre code td,
.wl-p-text pre code th {
  text-align: left;
  border: none;
}

.wl-p-text *:not(pre) code {
  /* 行内代码 */
  font-size: inherit;
}

.wl-p-text blockquote {
  /* 引用 */
  font-size: 1.25em;
  padding: 20px;
  margin: 0 0 20px;
  background-color: var(--wl-m-blo-bg);
  border-color: var(--wl-m-blo-bd);
}

.wl-p-text summary {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.wl-p-text table {
  width: 100%;
  margin: 30px auto;
  border-collapse: separate;
  border-spacing: 5px;
}

.wl-p-text td,
.wl-p-text th {
  padding: 5px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

.wl-p-text tr:nth-child(2n) {
  background: none;
}

.wl-p-text mark {
  background: #fbe598;
}

.wl-p-text del {
  /* 删除线 */
  color: var(--wl-m-del);
}

.wl-p-text hr {
  /* 分隔线*/
  padding: 0;
  border-top: 2px solid var(--wl-m-hr);
}

.wl-p-text figcaption {
  /* 图片描述文字 */
  color: var(--wl-m-del);
}

.hljs-ln-numbers {
  user-select: none;
  text-align: center;
  vertical-align: top;
  padding-right: 5px;
  width: 32px;
  position: relative;
}

.hljs-ln-numbers::after {
  content: "";
  border: 1px solid var(--wl-m-a);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  height: 120%;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: normal;
}

.navbar-inverse {
  background-color: rgba(143, 168, 171, 0.8);
}