{% set siteTitle = ['标签',themeConfig.siteName]|join(' | ') %}
{% set siteKeys = [post.tags|join(','),themeConfig.siteAuthor]|join(',') %}
{% set siteDescription = themeConfig.siteDescription %}
{% extends './base/base.j2' %}
{% block content %}
{% endblock %}