{% extends './base/base.j2' %}
{# --------------- 头部👇 ---------------- #}
{% block head %}
  {% set siteTitle = ['说说',themeConfig.siteName]|join(' | ') %}
  {% set siteKeys = ['说说',themeConfig.siteAuthor,'小站','世界','博客','blog']|join(',') %}
  {% set siteDescription = themeConfig.siteDescription %}
  {{ super() }}
{% endblock %}
{# --------------- 头部👆 ---------------- #}
{# --------------- 内容👇 ---------------- #}
{% block content %}
  {% if site.customConfig.talkChoice %}
    {% set talks = site.customConfig.talks if site.customConfig.talks else [] %}
    <div class="wl-overflow-x-hidden wl-animate-fade-in">
      {% for talk in talks %}
        <div class="wl-w-full wl-h-32 wl-relative wl-shadow-blur wl-mt-5 wl-mb-8 wl-rounded-xl wl-border-solid wl-border wl-bg-gray-100">
          {% if talk.img %}
            <img alt="{{ talk.text }}" class="wl-absolute wl-h-full wl-right-0 wl-rounded-xl mask-img-110 wl-transition-all wl-duration-300 hover:wl-opacity-70" src="{{ talk.img }}">
          {% endif %}
          <div class="wl-pt-5 wl-pl-5 wl-text-left">
            <span class="wl-text-lg wl-font-bold wl-mr-2.5 wl-text-violet-400">{{ talk.author }}</span>
            •
            <span class="wl-ml-2.5 wl-text-gray-400">{{ talk.time }}</span>
          </div>
          <div class="wl-mt-7 wl-ml-7 wl-line-clamp-1 wl-w-4/5 wl-text-left wl-text-lg">{{ talk.text }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
{# --------------- 内容👆 ---------------- #}
