<div class="wl-w-full wl-z-10 wl-text-white wl-bg-black/70 wl-rounded-xl wl-shadow-blur wl-mt-24" id="wl-comment">
  <div class="wl-text-left wl-p-8">
    <div id="comment-id"></div>
  </div>
</div>
{# --------------- 文章热度功能和评论整合👇 ---------------- #}

{% if site.customConfig.commentChoice == 'twikoo' %}
  <!-- -----------------twikoo评论系统引入👇 --------->
  {# 其中 integrity 的值可以在 SRI Hash Generator 查询, https://www.srihash.org/ #}
  <script src="https://fastly.jsdelivr.net/npm/twikoo@1.6.41/dist/twikoo.all.min.js" integrity="sha384-XqRjIHRB13HFGom3gYeK+L2UHxFRl5qTZN+DESSXOgiiKYCwm6ZicU3oS3oovY6H" crossorigin="anonymous"></script>
  <script>
    twikoo.init({
      // https://api-nianian.netlify.app/.netlify/functions/twikoo
      envId: '{{ site.customConfig.twikooId }}',
      el: '#comment-id',
      // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，如果您的环境地域不是上海，需传此参数
      // path: 'window.location.pathname', // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
    })
  </script>
  <!-- -----------------twikoo评论系统引入👆 --------->
{% elif site.customConfig.commentChoice == 'waline' %}
  <!-- -----------------waline评论系统引入👇 --------->
  <link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css"/>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
    init({
      el: '#comment-id',
      serverURL: '{{ site.customConfig.walineId }}',
    });
  </script>
  <!-- -----------------waline评论系统引入👆 --------->
{% elif site.customConfig.commentChoice == 'gitalk' %}
  <!-- -----------------gitalk评论系统引入👇 --------->
  <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://fastly.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
  <script>
    const gitalk = new Gitalk({
      clientID: '{{ themeConfig.gitalk.clientId }}',
      clientSecret: '{{ themeConfig.gitalk.clientSecret }}',
      repo: '{{ themeConfig.gitalk.repository }}',      // 存储评论的存储库
      owner: '{{ themeConfig.gitalk.owner }}',
      {# GitHub repo owner and collaborators, only these guys can initialize github issues #}
      admin: ['{{ themeConfig.gitalk.owner }}'],
      id: location.pathname,      // 确保唯一性和长度小于50
      distractionFreeMode: false,  // 类似facebook的无干扰模式
    })
    gitalk.render('comment-id')
  </script>
  <!-- -----------------gitalk评论系统引入👆 --------->
{% elif site.customConfig.commentChoice == 'disqus' %}
  <!-- -----------------disqus评论系统引入👇 --------->
  <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/disqusjs@3.0/dist/browser/styles/disqusjs.css">
  <script src="https://fastly.jsdelivr.net/npm/disqusjs@3.0/dist/browser/disqusjs.es2015.umd.min.js"></script>
  <script>
    const disqusjs = new DisqusJS({
      shortname: '{{ themeConfig.disqus.shortname }}',
      identifier: window.location.href,
      url: window.location.href,
      title: '{{ post.title }}',
      api: '{{ themeConfig.disqus.api }}',
      apikey: '{{ themeConfig.disqus.apikey }}',
    });
    disqusjs.render('#comment-id');
  </script>
  <!-- -----------------disqus评论系统引入👆 --------->
{% endif %}
{# --------------- 文章热度功能和评论整合👆 ---------------- #}