{% macro postLists(postItems, mode) -%}
  {# ---------显示 post 列表👇--------- #}
  {% if mode != 'elegant' %}
    {# ---------经典模式👇--------- #}
    {% from './macro/post-list-default.j2' import postListItem as listItem with context %}
    {% for post in postItems %}
      {{ listItem(post) }}
    {% endfor %}
    {# ---------经典模式👆--------- #}
  {% else %}
    {# ---------优雅模式👇--------- #}
    {% from './macro/post-list-item.j2' import postListItem as listItem with context %}
    {% for post in postItems %}
      {# odd: false, even: true #}
      {% set isEven = loop.cycle(false, true) %}
      {{ listItem(post, isEven) }}
    {% endfor %}
    {# ---------优雅模式👆--------- #}
  {% endif %}
  {# ---------显示 post 列表👆--------- #}
{%- endmacro %}
