{% macro postListItem(post, isEven) -%}
  {# ---------显示 Post 列表的单个项👇--------- #}
  {# isEven: true 是偶数, false 是单数 #}
  <div class="wl-mb-16 wl-w-full wl-h-64 m-xl:wl-mb-8">
    <div class="wl-h-full wl-w-full wl-relative wl-flex wl-bg-zinc-200/70 wl-rounded-xl wl-shadow-blur">
      {% if not isEven %}
        <img class="wl-absolute wl-left-0 wl-inset-y-0 wl-h-full wl-w-100 wl-rounded-l-xl mask-img-250" src="{{ post.feature }}" alt="{{ post.title }}">
        <img class="wl-h-32 wl-absolute wl-right-2.5 wl-bottom-0 m-xl:wl-hidden" src="{{ themeConfig.domain }}/media/images/swordsmenleft.webp" alt="武侠风">
      {% endif %}
      <div class="wl-pt-5 wl-w-full wl-z-10">
        <div class="wl-text-2xl wl-mt-5 wl-font-bold wl-line-clamp-1 article-title">{{ post.title }}</div>
        <div class="wl-mt-8 wl-text-xs wl-text-white wl-font-bold">
          <span class="wl-rounded-xl wl-ml-2.5 wl-py-1.25 wl-px-2.5 wl-bg-rose-500">
            <i class="wl-mr-2.5 fa fa-calendar-days"></i>{{ post.date|substring(end=19) }}
          </span>
          {% if post.stats and post.stats.text %}
            <span class="wl-rounded-xl wl-ml-2.5 wl-py-1.25 wl-px-2.5 wl-bg-orange-400">
              <i class="wl-mr-2.5 fa fa-clock"></i> {{ post.stats.text }}
            </span>
          {% endif %}
        </div>
        <div class="wl-mt-12">
          <a class="wl-py-2.5 wl-px-12 wl-border wl-border-solid wl-border-current wl-text-xl wl-font-bold wl-text-purple-600 hover:wl-text-purple-600 hover:wl-text-2xl wl-transition-all wl-duration-200"
             data-pjax href="{{ post.link }}">阅读全文
          </a>
        </div>
      </div>
      {% if isEven %}
        <img class="wl-h-36 wl-absolute -wl-left-2.5 wl-bottom-0 m-xl:wl-hidden" src="{{ themeConfig.domain }}/media/images/swordsmenleft.webp" alt="武侠风">
        <img class="wl-absolute wl-right-0 wl-inset-y-0 wl-h-full wl-w-100 wl-rounded-r-xl mask-img-110" src="{{ post.feature }}" alt="{{ post.title }}">
      {% endif %}
    </div>
    {% if post.tags|length > 0 %}
      <div class='wl-w-full wl-mt-4 wl-text-sm m-xl:wl-hidden {{ 'wl-text-right' if isEven else 'wl-text-left' }}'>
        {% for tag in post.tags %}
          <span class="wl-font-bold">
        <a class="wl-ml-1.25 wl-py-1.25 wl-px-2.5 wl-rounded-xl wl-border-3 wl-border-solid wl-text-green-400 hover:wl-text-cyan-400 wl-border-current"
           data-pjax href="{{ tag.link }}">
          <i class="fa fa-tag"></i>{{ tag.name }}
        </a>
      </span>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {# ---------显示 Post 列表的单个项👆--------- #}
{%- endmacro %}
